https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/appstream/os/Packages/b/bind-utils-9.11.26-4.el8_4.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/appstream/os/Packages/c/cargo-1.52.1-1.module+el8.4.0+11282+0729bac9.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/appstream/os/Packages/g/gcc-8.4.1-1.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/appstream/os/Packages/n/nss_wrapper-1.1.5-3.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/appstream/os/Packages/p/python38-devel-3.8.6-3.module+el8.4.0+9579+e9717e18.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/appstream/os/Packages/p/python38-pip-19.3.1-1.module+el8.4.0+8888+89bc7e79.noarch.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/appstream/os/Packages/p/python38-psycopg2-2.8.4-4.module+el8.4.0+8888+89bc7e79.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/appstream/os/Packages/r/redhat-lsb-core-4.1-47.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/appstream/os/Packages/r/redhat-rpm-config-125-1.el8.noarch.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/g/gettext-0.19.8.1-17.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/g/glibc-common-2.28-151.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/g/glibc-langpack-en-2.28-151.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/g/glibc-locale-source-2.28-151.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/h/hostname-3.20-6.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/l/libffi-devel-3.1-22.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/o/openssl-devel-1.1.1g-15.el8_3.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/r/rsync-3.1.3-12.el8.x86_64.rpm
https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/t/tar-1.30-5.el8.x86_64.rpm
https://download.postgresql.org/pub/repos/yum/%%PG_MAJOR_NODOT/redhat/rhel-8-aarch64/postgresql%%PG_MAJOR_NODOT-%%POSTGRES_VERSION%%.8-1PGDG.rhel8.aarch64.rpm
https://download.postgresql.org/pub/repos/yum/%%PG_MAJOR_NODOT/redhat/rhel-8-aarch64/postgresql%%PG_MAJOR_NODOT-contrib-%%POSTGRES_VERSION%%.8-1PGDG.rhel8.aarch64.rpm
https://download.postgresql.org/pub/repos/yum/%%PG_MAJOR_NODOT/redhat/rhel-8-aarch64/postgresql%%PG_MAJOR_NODOT-server-%%POSTGRES_VERSION%%.8-1PGDG.rhel8.aarch64.rpm
https://download.postgresql.org/pub/repos/yum/%%PG_MAJOR_NODOT/redhat/rhel-8-aarch64/postgresql%%PG_MAJOR_NODOT-libs-%%POSTGRES_VERSION%%.8-1PGDG.rhel8.aarch64.rpm
https://download.postgresql.org/pub/repos/yum/%%PG_MAJOR_NODOT/redhat/rhel-8-aarch64/pgaudit14_%%PG_MAJOR_NODOT-1.4.1-1.rhel8.aarch64.rpm
